.notfound {
    position: fixed;
    left: 0.5%;
    bottom: 60%;
    width: 99%;
    text-align: center;
 }

 .back {
    position: fixed;
    left: 0.5%;
    bottom: 40%;
    width: 99%;
    text-align: center;
 }